@font-face {
    font-family: 'Roboto';
    src: url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
}



body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', monospace;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 0.75fr 4fr;
}

/* SIDEBAR START*/
.sidebar {
    display: grid;
    grid-template-rows: 0.2fr 0.5fr 1.2fr;
    grid-row: span 2;
    height: 100vh;
    background-color: #059669;
    color: white;

}

/* TITLE */
.logo {
    margin-left: 8%;
    display: grid;
    grid-template-columns: 50px 40px;
    align-items: center;

}

.title {
    font-family: 'Roboto', monospace;
    font-size: 1.5rem;
}


/* NAV */

.nav-container {
    grid-template-columns: 40px 40px;
    grid-template-rows: repeat(6, 2rem);
    display: grid;
    margin-left: 10%;

    align-items: center;
    font-size: 1.2rem;
}

.sidebar>.nav-container>img,
.sidebar>.tools>img,
.grid-container>img,
.searchbar>img,
.right-side>img {
    cursor: pointer;
    height: 22px;
    width: 22px;
}




.nav,
.tool {
    cursor: pointer;
}

.tools {
    display: grid;
    grid-template-columns: 40px 40px;
    grid-template-rows: repeat(3, 2rem);
    margin-left: 10%;
    align-items: center;
    font-size: 1.2rem;
}



/* SIDEBAR END */

/* HEADER START */

.header {
    -webkit-box-shadow: 0px 4px 5px 0px #000000;
    box-shadow: 0px 2px 2px 0px #00000053;
}

.grid-container {
    display: grid;
    margin: 20px;
    margin-left: 5%;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    gap: 40px;

}

.searchbar {
    display: flex;
    gap: 20px;
    align-items: center;
}

.right-side {

    display: flex;

    align-items: center;
    gap: 30px;
}

.user-logo {
    height: 50px !important;
    width: 50px !important;
}

.user-logo2 {
    height: 80px !important;
    width: 80px !important;
    border-radius: 50%;
}

.user-name {

    font-size: 1.3rem;
}


input {
    border-radius: 20px;
    width: 80vh;
    height: 30px;
    border: none;
    background-color: rgba(211, 211, 211, 0.469);
    font-size: 1.1rem;
}

.greetings {
    display: flex;
    gap: 10px;
    align-items: center;
}

.name {
    font-size: 2rem;
}

.buttons-right {
    display: flex;
    gap: 30px;
}

.buttons-right>button {
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    background-color: #059669;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
}

/* HEADER END */
/* TITLES */
.main {
    grid-column: 2 / 3;
    border: 1px solid black;
}

.titles {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-left: 5%;
}